* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #5f3e46;
}
:root {
  --secondary-color: rgb(255, 248, 248);
  --base-color: #ffe6f5;
  --shadow-color: #e1c6cb;
  --light-color: #fff5f5;
  --accent-color: #fc7ce2;
  --completed-color: #fc7c7c;
  --sunken-effect: inset 6px 6px 15px 0 var(--shadow-color),
    inset -6px -6px 10px 0 white;
  --bump-effect: inset 6px 6px 10px 0 var(--light-color),
    inset -6px -6px 10px 0 var(--shadow-color);
  --raised-effect: 6px 6px 10px 0 var(--shadow-color),
    -6px -6px 10px 0 var(--light-color);
  --slit-effect: -6px -6px 10px 0 var(--light-color);
}

p {
  background-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 5%;
  text-shadow: 0 0 10px var(--shadow-color);
}

div.task-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  text-align: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 90%;
  height: 100%;
}

@supports selector(::-webkit-scrollbar) {
  ul::-webkit-scrollbar {
    width: 10px;
  }
  ul::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 5px;
  }
  ul::-webkit-scrollbar-track {
    background: linear-gradient(
      to left,
      var(--light-color),
      var(--shadow-color)
    );
    border-radius: 5px;
  }
  ::-webkit-scrollbar-button {
    height: 100px;
  }
}

@supports not selector(::-webkit-scrollbar) {
  ul {
    scrollbar-color: var(--accent-color) transparent;
  }
}

li {
  height: 60px;
  width: 94%;
  display: flex;
  background-color: rgb(255, 248, 248);
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  position: relative;
  box-shadow: var(--raised-effect);
  border-radius: 15px;
  margin: 0 auto;
  margin: 25px 3%;
  cursor: grab;
}

li.completed {
  box-shadow: var(--sunken-effect);
  background-color: var(--base-color);
  text-decoration: line-through;
}

li p {
  overflow: hidden;
  max-width: 57%;
  white-space: nowrap;
}

/*--------------------------------- icons------------------------------------ */
svg {
  width: 20px;
  height: 20px;
  fill: var(--accent-color);
  background-color: transparent;
  border-radius: 3px;
}

.task-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: var(--raised-effect);
  height: 27px;
  width: 27px;
}

.task-icon:active {
  box-shadow: var(--sunken-effect);
}

.trash-icon {
  margin: 0;
  margin-right: 15px;
}
.edit-icon {
  margin-left: auto;
}
.check-icon {
  margin: 0 15px;
}

.edit-icon svg {
  fill: rgb(254, 175, 91);
  height: 100%;
}
.trash-icon svg {
  width: 100%;
  fill: rgb(135, 155, 237);
}

.check-icon svg {
  width: 100%;
  height: 100%;
}

.editing {
  color: rgb(254, 175, 91);
  outline: none;
  animation: focus-highlight 4s infinite ease-in-out;
  text-decoration-color: rgba(135, 155, 237, 0.245) !important;
}
.editing div {
  animation: focus-highlight 4s infinite ease-in-out;
}
.editing p {
  outline: none;
  color: rgb(135, 155, 237);
}

li::after {
  content: "";
  position: absolute;
  width: 94%;
  height: 10%;
  bottom: 3px;
  left: 3%;
  background-color: rgb(255, 255, 255);
  z-index: 20;
  border-radius: 3px;
  background: linear-gradient(var(--shadow-color), var(--light-color));
}

li::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 3px;
  left: 3%;
  background-color: var(--completed-color);
  box-shadow: 0 0 2px var(--accent-color);
  z-index: 25;
  border-radius: 3px;
  background: linear-gradient(
    to right,
    var(--completed-color),
    var(--accent-color)
  );
  transition: width 0.6s ease, background 0.4s ease;
}

li.completed::before {
  width: 94%;
  opacity: 0.7;
  background: linear-gradient(
    to right,
    rgb(254, 175, 91),
    var(--completed-color),
    var(--accent-color),
    rgb(135, 155, 237)
  );
}

.xmark-icon {
  fill: var(--completed-color);
}
/*----------------------------------------------*/

body {
  background-color: var(--secondary-color);
}

main {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  max-width: 800px;
  min-width: 490px;
}

.card {
  border-radius: 20px;
  height: 60%;
  width: 100%;
  min-height: 400px;
  background-color: var(--base-color);
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  box-shadow: var(--sunken-effect);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  z-index: 50;
  pointer-events: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#task-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  gap: 5%;
  box-shadow: var(--sunken-effect);
  border-radius: 20px;
  background-color: var(--base-color);
  margin: 5% 0;
}

#task-buttons button {
  text-transform: uppercase;
  height: 50%;
  box-shadow: var(--raised-effect);
  background-color: rgb(255, 248, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

#task-buttons button p {
  font-weight: bold;
  background-color: transparent;
}
#new-task {
  width: 25%;
}
#clear-tasks {
  width: 30%;
}

.create-task {
  display: none;
  width: 100%;
  height: 15%;
  align-items: center;
  gap: 5%;
  box-shadow: var(--sunken-effect);
  border-radius: 20px;
  background-color: var(--base-color);
  margin: 5% 0;
  justify-content: center;
}

form {
  height: 50%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  gap: 5%;
}

.task-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#task-name,
#task-date {
  width: 92%;
}

.task-input {
  border-radius: 5px;
  box-shadow: var(--raised-effect);
  background-color: var(--secondary-color);
}
.task-input:first-child {
  width: 50%;
}
.task-input:nth-child(2) {
  width: 20%;
}

.task-input input {
  padding: 0 4%;
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 600;
  animation: text-highlight 2.5s infinite ease-in-out;
}

input:focus,
button:focus {
  outline: none;
}

button {
  box-shadow: var(--raised-effect);
  background-color: var(--secondary-color);
  aspect-ratio: 1/1;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: auto;
}

button svg {
  background-color: transparent;
  box-shadow: none;
  height: 100%;
}

button:active {
  box-shadow: var(--sunken-effect);
}

button:hover {
  color: var(--accent-color);
  text-shadow: 0 0 1px var(--accent-color);
  border: 2px solid var(--accent-color);
  z-index: 50;
}

.swal2-actions button:hover {
  border: none;
  color: white;
}

.swal2-actions button {
  aspect-ratio: none;
  height: 50px;
  width: 90px;
}

.swal2-actions button:active {
  box-shadow: none;
}

/*---------------------------- animations */

@keyframes text-highlight {
  0% {
    color: #413737;
    border: 1px solid transparent;
  }

  50% {
    color: var(--accent-color);
    text-shadow: 0 0 1px var(--accent-color);
    box-shadow: inset 0 0 10px var(--accent-color);
    border: 1px solid var(--completed-color);
  }

  100% {
    color: #413737;
    border: 1px solid transparent;
  }
}

@keyframes focus-highlight {
  0% {
    color: #413737;
  }

  50% {
    color: var(--accent-color);
    box-shadow: inset 0 0 10px var(--accent-color), outset var(--sunken-effect);
    background-color: rgba(114, 87, 130, 0.114);
  }

  100% {
    color: #413737;
  }
}
