* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: #8ca5cb;
  background-color: var(--base-color);
}
:root {
  --base-color: #ecf0f3;
  --shadow-color: #d1d9e6;
  --light-color: #fff;
  --sunken-effect: inset 6px 6px 15px 0 var(--shadow-color),
    inset -6px -6px 10px 0 var(--light-color);
  --bump-effect: inset 6px 6px 10px 0 var(--light-color),
    inset -6px -6px 10px 0 var(--shadow-color);
  --raised-effect: 6px 6px 10px 0 var(--shadow-color),
    -6px -6px 10px 0 var(--light-color);
  --slit-effect: -6px -6px 10px 0 var(--light-color);
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1em;
}

h1 {
  text-transform: capitalize;
}

div.task-list-container {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

ul {
  list-style: none;
  padding-left: 20px;
  text-align: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 90%;
  height: 100%;
}

li {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  position: relative;
  padding-bottom: 1.5%;
}
svg{
  width: 24px;
  height: 24px;
  fill: #15d679;
}
svg use{
  width: 100%;
  height: 100%;
}

li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0px;
  left: 0;
  border-radius: 5px;
  background: linear-gradient(var(--light-color), var(--shadow-color));
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  border-radius: 20px;
  padding: 3%;
  height: 60%;
  aspect-ratio: 5/3;
  box-shadow: var(--sunken-effect);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#dot-line{
  display: block;
  width: 85%;
  height: 2px;
  border-top: 4px dotted var(--shadow-color);
}
#task-buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 10%;
}

#task-buttons button {
  width: 45%;
  /*box-shadow: none;*/
}

.create-task {
  display: none;
  width: 100%;
  height: 10%;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
}

.task-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.task-options {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.task-options button,
.task-options input {
  height: 100%;
  width: 35%;
}
#task-name, #task-date {
  width: 92%;
}

.task-input {
  border-radius: 5px;
  box-shadow: var(--bump-effect);
}
.task-input:first-child {
  width: 55%;
}
.task-input:nth-child(2) {
  width: 20%;
}

.task-input input {
  padding: 0 4%;
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 600;
  animation: text-highlight 2.5s infinite ease-in-out;
}

input:focus {
  outline: none;
}

button,
input[type="submit"] {
  box-shadow: var(--raised-effect);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: 10%;
}

button:active,
input[type="submit"]:active {
  box-shadow: var(--sunken-effect);
}

/*---------------------------- animations */

@keyframes text-highlight {
  0% {
    color: #8ca5cb;
    border: 1px solid transparent;
  }
  
  50% {
    color: rgb(78, 113, 255);
    text-shadow:  0 0 2px rgb(174, 191, 255);
    box-shadow: inset 0 0 10px rgba(20, 71, 255, 0.823);
    border: 1px solid rgb(78, 113, 255);

  }

  100% {
    color: #8ca5cb;
    border: 1px solid transparent;

  }
}
